.mat-body p, .mat-body-1 p, .mat-typography .mat-body p, .mat-typography .mat-body-1 p, .mat-typography p {
  margin: 0px;
}

.mat-typography h2, .mat-typography h1, .mat-typography h3, .mat-typography h4, .mat-typography h5, .mat-typography h6 {
  margin: 0px;
}

.mat-form-field-appearance-outline .mat-form-field-wrapper{
  margin: 0 0 !important;
  padding-bottom: 0;
}
